---
layout: base.njk
title: Dave Hulbert - Engineer
scripts: '<script src="/iframe.js"></script>'
---
<iframe src="/canvas.html" id="canvasIframe"></iframe>

<div class="container">
  <div class="left-col">
    <img class="avatar" src="https://avatars.githubusercontent.com/u/50682?v=4" alt="Dave Hulbert&#39;s Avatar">
    <h1>Dave Hulbert</h1>
    <h2>Engineer and AI Expert</h2>
    <p>
      Specializing in Engineering, AI, Strategy, and Compliance.
      Proudly working at <a href="https://passenger.tech/">Passenger</a>. Based in Poole, Bournemouth, UK.
    </p>
    <h3>
      What are all the colours?
    </h3>
    <p>
      This is <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway&#39;s Game of Life</a>,
      a cellular automaton where each cell in a grid lives, dies or multiplies depending on how many
      neighbours it has.
    </p>
    <p>
      The incredibly simple rules result in chaotic systems, depicting the vastness of global interactions,
      the intricate workings of teams and organizations, and the complexity of software engineering.
    </p>
    <p>Scroll down, then move your mouse to create life. <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion#user_preferences">Disable motion</a>.</p>
  </div>

  <div class="right-col">
    <a href="https://medium.com/@dave1010" class="link-block" target="_blank">
      <img src="/img/Medium_black.png" alt="Medium Icon" width="40" height="40">
      <h3>Medium</h3>
      <p>Read my articles and stories.</p>
    </a>

    <a href="https://github.com/dave1010" class="link-block" target="_blank">
      <img src="/img/Github_black.png" alt="GitHub Icon" width="40" height="40">
      <h3>GitHub</h3>
      <p>Check out my code and projects.</p>
    </a>

    <a href="https://til.dave.engineer" class="link-block" target="_blank">
      <img src="/img/RSS_black.png" alt="RSS Icon" width="40" height="40">
      <h3>Today I Learned</h3>
      <p>Random things I&#39;m learning every day.</p>
    </a>

    <a href="https://www.linkedin.com/in/dave1010/" class="link-block" target="_blank">
      <img src="/img/LinkedIN_black.png" alt="LinkedIn Icon" width="40" height="40">
      <h3>LinkedIn</h3>
      <p>Connect on LinkedIn.</p>
    </a>

    <a href="https://twitter.com/dave1010" class="link-block" target="_blank">
      <img src="/img/Twitter_black.png" alt="Twitter Icon" width="40" height="40">
      <h3>Twitter</h3>
      <p>Follow <code>@dave1010</code></p>
    </a>
  </div>
</div>
